<% provide(:title, "Log in") %>
<h1>Iniciar sesión</h1>

    <%= form_for(:session, url: login_path) do |f| %>
<p>
        <%= f.label :email %><br>
        <%= f.email_field :email %>
</p><p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
</p><p>
        <%= f.submit "Entrar" %>
</p>
    <% end %>

    <p>¿No tienes cuenta? <%= link_to "¡Unete!", signup_path %></p>
<p><%= @message %></p>
