<div class="comment">
  <div class="user-info-comment">
    <%= link_to(image_tag('user_avatar.png'), comment.user) %>

    <br>
    <%= link_to comment.user.name, comment.user %>
    <br><%= time_ago_in_words(comment.user.created_at) %>
  </div>

  <div class="user-comment">
    <p>
      <%= comment.content %>
    </p>

  </div>
  <div class="rating">
    <form class="vote">
      <input type="radio" name="rating" value="up"><i></i>
      <input type="radio" name="rating" value="down"><i></i>
    </form>
  </div>
</div>