<%= form_for(@comment) do |f| %>
    <%= f.hidden_field :article_id, :integer => @article.id %>
    <div>
      <%= f.label 'Añadir comentario' %><br>
      <%= f.text_area :content, placeholder: "Escribe tu comentario...", cols: "100%", rows: "10" %>
    </div><p>
    <%= f.submit "Enviar", class: "right" %>

<% end %>