
<%= form_for(@article) do |f| %>

    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% @article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div >
    <%= f.label 'Título' %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label 'Subtítulo' %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div>
    <%= f.label 'Artículo' %><br>
    <%= f.text_area :content, cols: "100%", rows: "10"  %>

  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>
