<% provide(:place, 'article') %>


<%= link_to 'Escribe un artículo', new_article_path, class: 'add-link' %>


  <% @articles.each do |article| %>

      <article class="col-xs-12 no-padding">

        <%= link_to(image_tag('mouse-guard-set.jpg', class: 'col-xs-3 pull-left img-responsive art-image'), article) %>
        <div class="col-xs-9">
          <h2>
            <%= link_to article.title, article %></h2>
          <h4 class="subtitle"><%= article.subtitle %></h4>
          <hr>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim nec nisl non
          vehicula. Sed justo eros, gravida quis ex vitae, efficitur porta purus. Nunc volutpat, est
          vitae pellentesque tincidunt, metus sem euismod orci, et accumsan nibh tellus et quam. Praesent
          vulputate nunc id elit tristique, a fringilla tellus luctus. Mauris eget mauris sit amet elit
          scelerisque ornare sed vitae mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim nec nisl non
          vehicula. Sed justo eros, gravida quis ex vitae, efficitur porta purus.
        </div>

      </article>

  <% end %>

  <br>

  <div class="center">
    <div class="pagination">
      <%= will_paginate @article %>

    </div>
  </div>



