<% provide(:place, 'article') %>
<h1>
  <%= @article.title %>
</h1>
<hr>
<h3 class="subtitle"><%= @article.subtitle %></h3>
<p>Por: <%= link_to @author.name, @author %></p>
<p>
  <%= @article.content %>
</p>
<%= image_tag("car-three.png", class: 'col-xs-6 img-responsive pull-right image-art') %>


<%= link_to "Volver", articles_path %>

<div class="rating">
  <form>
            <span class="star-rating" id="star">
                <input type="radio" name="rating" class="star" value="1"><i></i>
                <input type="radio" name="rating" class="star" value="2"><i></i>
                <input type="radio" name="rating" class="star" value="3"><i></i>
                <input type="radio" name="rating" class="star" value="4"><i></i>
                <input type="radio" name="rating" class="star" value="5"><i></i>
            </span><br/>

    <b class="puntuacion">
      Puntuar artículo
    </b>
  </form>
</div>
<hr>
<h3>Comentarios (<%= @article.comments.count %>)</h3>
<% if @article.comments.any? %>
    <ol>
      <%= render @comments %>
    </ol>
    <div class="center">
       <%= will_paginate @comments %>
      </div>
<% end %>

<hr>

<%= render 'comments/form' %>