<% provide(:title, 'Sign up') %>
<h1>Registro</h1>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
<p>
        <%= f.label "Nombre de usuario"%><br>
        <%= f.text_field :name %>

</p><p>
        <%= f.label "Correo electrónico" %><br>
        <%= f.email_field :email %>
    </p><p>
        <%= f.label "Contraseña" %><br>
        <%= f.password_field :password %>
</p><p>
        <%= f.label :password_confirmation, "Repite tu contraseña" %><br>
        <%= f.password_field :password_confirmation %>
</p><p>
        <%= f.submit "Registrarme" %></p>
    <% end %>
