<% provide(:place, 'game') %>

<h1>La llamada de Cthulhu</h1>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Ambientación</a></li>
    <li><a href="#tabs-2">Sistema y reglas</a></li>
    <li><a href="#tabs-3">Libros relacionados</a></li>
  </ul>
  <div id="tabs-1" class="no-padding">


    <p>
      <%= image_tag("cthulhu-portada.jpg", class: 'col-xs-4 img-responsive pull-right image-art') %>

    <h2>Ambientación</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim nec nisl non
    vehicula. Sed justo eros, gravida quis ex vitae, efficitur porta purus. Nunc volutpat, est
    vitae
    pellentesque tincidunt, metus sem euismod orci, et accumsan nibh tellus et quam. Praesent
    vulputate
    nunc id elit tristique, a fringilla tellus luctus. Mauris eget mauris sit amet elit
    scelerisque
    ornare sed vitae mauris. Praesent iaculis consequat sem, eget finibus orci euismod non.
    Aliquam
    sodales luctus tempus. Sed maximus arcu at arcu tristique consectetur. In lacinia consequat
    nisl,
    quis pellentesque ex viverra non. Duis id convallis felis. Donec venenatis augue ante, vitae
    bibendum leo fermentum vel. Etiam posuere lacinia viverra. Nullam eleifend lacus neque, eget
    varius
    lacus varius eu.
    </p>

    <p>
      In turpis enim, ullamcorper non consectetur ac, ullamcorper id mi. Sed ullamcorper sapien
      non ligula
      molestie tempor. Sed massa mi, vehicula sit amet rhoncus eget, egestas sit amet leo. Sed
      fringilla
      rutrum sem, at iaculis ex. Donec tempor efficitur mi ac laoreet. Suspendisse potenti.
      Maecenas
      suscipit luctus lectus, vitae porta massa ornare sit amet. Donec id egestas tortor.
      Pellentesque
      congue a mi ac suscipit. Nullam egestas egestas lectus, id tristique ligula ornare ut.
      Aliquam et
      eros et urna molestie elementum. Morbi blandit, magna eget volutpat pretium, velit odio
      commodo
      lectus, ut pretium nisl dolor ut sapien.
    </p>


  </div>
  <div id="tabs-2" class="no-padding">

    <%= image_tag("cthulhu-ficha-pj.png", class: 'col-xs-4 image-art img-responsive') %>

    <h2>Ficha</h2>


    <p>
      Etiam laoreet, quam sit amet efficitur mollis, erat turpis tempor leo, at finibus nisl
      lectus non
      turpis. Nullam sollicitudin felis sapien. Mauris in nibh nisl. Nulla ullamcorper porttitor
      odio, eu
      viverra magna pellentesque vitae. Morbi gravida, elit in scelerisque tincidunt, turpis neque
      viverra
      elit, et volutpat sem dui et mauris. Vestibulum vehicula tellus mi, sed sodales sapien
      vulputate ut.
      Cras in nulla libero. Vivamus ac commodo erat, commodo suscipit nulla. Proin iaculis, ex
      quis
      aliquam tempus, mi mauris dapibus eros, vel suscipit quam tortor ut ex. </p>


    <div class="block">
      <h2>Sistema</h2>

      <p>
        Aliquam lobortis nunc sit amet risus scelerisque interdum. Vestibulum urna elit, mattis
        fermentum
        laoreet vel, gravida id arcu. Phasellus rutrum dapibus dui vitae ultricies. Aenean
        laoreet
        sed
        ligula quis bibendum. Praesent in pretium mi, non sollicitudin massa. Fusce sagittis
        eget
        turpis id
        venenatis. Maecenas diam lacus, vehicula at sem et, maximus dictum felis. Donec posuere
        pharetra
        ultricies. Donec dapibus ultricies magna. </p>
    </div>

    <h2>Reglas básicas</h2>
    <%= image_tag("cthulhu-dice-set.png", class: 'col-xs-2 image-art pull-right img-responsive') %>


    <ul>
      <li><span>Mauris eget mauris sit amet elit scelerisque ornare sed vitae mauris.</span></li>
      <li><span>Praesent iaculis
                                consequat sem, eget finibus orci euismod non.</span>
      </li>
      <li><span>Aliquam sodales luctus tempus. Sed maximus
                                arcu at arcu tristique consectetur.</span>
      </li>
      <li><span>In lacinia consequat nisl, quis pellentesque ex
                                viverra non.</span>
      </li>
      <li><span>Duis id convallis felis. Donec venenatis augue ante, vitae bibendum leo
                                fermentum vel.</span>
      </li>
      <li><span>Etiam posuere lacinia viverra. Nullam eleifend lacus neque, eget varius
                                lacus varius eu.</span>
      </li>


    </ul>


  </div>

  <div id="tabs-3" class="no-padding center">
    <br>

    <div class="col-xs-12">
      <div class="col-xs-3">
        <%= image_tag("cthulhu-portada.jpg", class: 'img-responsive') %>

        <br/>
        <a href="#">Libro de reglas</a><br/>
        Reglas básicas de La Llamada de Cthulhu

      </div>

      <div class="col-xs-3">
        <%= image_tag("cthulhu-guia-investigador.jpg", class: 'img-responsive') %>

        <br/>
        <a href="#">Guía del investigador de los años 20</a><br/>
        Aliquam lobortis nunc sit amet risus scelerisque

      </div>

      <div class="col-xs-3">
        <%= image_tag("cthulhu-guia-londres.jpg", class: 'img-responsive') %>

        <br/>
        <a href="#">Guía de londres 1920</a><br/>
        Aliquam lobortis nunc sit amet risus scelerisque

      </div>

      <div class="col-xs-3">
        <%= image_tag("cthulhu-mascaras.jpg", class: 'img-responsive') %>

        <br/>
        <a href="#">Las máscaras de Nyarlathotep</a><br/>
        Aliquam lobortis nunc sit amet risus scelerisque

      </div>
    </div>

    <div class="col-xs-12">
      <div class="col-xs-3">
        <%= image_tag("cthulhu-pantalla.jpg", class: 'img-responsive') %>

        <br/>
        <a href="#">Más Allá de las Montañas de la Locura I</a><br/>
        Aliquam lobortis nunc sit amet risus scelerisque.

      </div>

    </div>
  </div>


</div>


<div class="rating">
  <form>
                    <span class="star-rating" id="star">
                        <input type="radio" name="rating" class="star" value="1"><i></i>
                        <input type="radio" name="rating" class="star" value="2"><i></i>
                        <input type="radio" name="rating" class="star" value="3"><i></i>
                        <input type="radio" name="rating" class="star" value="4"><i></i>
                        <input type="radio" name="rating" class="star" value="5"><i></i>
                    </span><br/>

    <b class="puntuacion">
      Puntuar juego
    </b>
  </form>
</div>
<hr>

<h2>Comentarios</h2>

<div class="comment">
  <div class="user-info-comment">
    <%= image_tag("user_avatar.png") %>

    <br>
    <a href="#">user_name</a>
    <br>6 meses
  </div>

  <div class="user-comment">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac nisi egestas, viverra
      ligula nec, lobortis massa. Curabitur vestibulum orci id turpis fringilla, ac consectetur
      risus condimentum. Nam porttitor condimentum fermentum. Aliquam sollicitudin volutpat
      efficitur. Nunc non consequat quam. Nam feugiat in nulla sed suscipit. Maecenas non
      ultricies justo. In hac habitasse platea dictumst. Etiam at ante accumsan, pretium nulla
      vitae, varius arcu. Aenean eu tempus magna. Duis vehicula ex facilisis accumsan
      sollicitudin.
    </p>

  </div>
  <div class="rating">
    <form class="vote">
      <input type="radio" name="rating" value="up"><i></i>
      <input type="radio" name="rating" value="down"><i></i>
    </form>
  </div>
</div>

<div class="comment">
  <div class="user-info-comment">
    <%= image_tag("user_avatar.png") %>
    <br>
    <a href="#">another_name</a>
    <br>1 año
  </div>


  <div class="user-comment">
    <p>
      Nam porttitor condimentum fermentum. Aliquam sollicitudin volutpat efficitur. Nunc non
      consequat quam. Nam feugiat in nulla sed suscipit. Maecenas non ultricies justo. In hac
      habitasse platea dictumst. Etiam at ante accumsan, pretium nulla vitae, varius arcu. Aenean
      eu tempus magna. Duis vehicula ex facilisis accumsan sollicitudin.
    </p>

  </div>
  <div class="rating">
    <form class="vote">
      <input type="radio" name="rating" value="up"><i></i>
      <input type="radio" name="rating" value="down"><i></i>
    </form>
  </div>
</div>


<hr>


<form id="add-comment" name="add-comment" onsubmit="testFormulario();"></form>

<label>Añadir comentario</label>

<textarea form="add-comment" placeholder="Escribe un comentario" required="" class="new-comment"
          rows="7"></textarea>

<input form="add-comment" type="button" value="Enviar"/>
