<%= stylesheet_link_tag 'index.css', 'data-turbolinks-track' => true %>

<% provide(:place, 'index') %>

<div id="dice"></div>
<header id="web-banner">
</header>



<main id="index">

  <div class="web-title"><h1 class="web-title">Roll&Rol</h1></div>
  <div class="row">


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active slider-size">
                                <span class="carousel-caption">
                                    Lorem ipsum dolor sit amet consectetur </span>
          <%= image_tag("car-one.png") %>
        </div>

        <div class="item slider-size">
          <div class="carousel-caption">Lorem ipsum dolor sit amet, consectetur</div>
          <%= image_tag("car-two.jpg") %>
        </div>

        <div class="item slider-size">
          <div class="carousel-caption">Lorem ipsum dolor sit amet, consectetur</div>
          <%= image_tag("car-three.jpg") %>
        </div>


      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
  <div class="row">
    <section class="col-md-4 info-4">

      <%= link_to 'Artículos', articles_path, class: 'sec-title' %>

           <% @print_articles.each do |item|%>
          <p>
            <%= link_to item.title, item %>
            <%= item.subtitle %>
          </p>
          <hr>
          <% end%>

    </section>


    <section class="col-md-4 info-4">
      <a href="#"><h1>Últimos juegos</h1></a>

      <p><a href="juego.html">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p>
      <hr>
      <p><a href="juego.html">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p>
      <hr>
      <p><a href="juego.html">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p>
      <hr>
      <p><a href="juego.html">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p>
      <hr>
      <p><a href="juego.html">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p><hr>


    </section>


    <section class="col-md-4 info-4">
      <a href="#"><h1>Foros</h1></a>

      <p><a href="/">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p>
      <hr>
      <p><a href="/">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p>
      <hr>
      <p><a href="/">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p>
      <hr>
      <p><a href="/">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p>
      <hr>
      <p><a href="/">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit. Nullam...
      </p><hr>

    </section>
  </div>

  <div class="row">
    <section class="col-md-12 info-12">

      <a href="library"><h1>¿Buscas nuestra librería?</h1></a>
      <%= image_tag("v_masquerade.jpg", :class => "img-responsive pull-right cover-img") %>

      <h2>Lorem ipsum</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac nisi egestas, viverra ligula nec,
        lobortis massa.
        Curabitur vestibulum orci id turpis fringilla, ac consectetur risus condimentum. Nam porttitor
        condimentum fermentum.
        Aliquam sollicitudin volutpat efficitur. Nunc non consequat quam. Nam feugiat in nulla sed suscipit.
        Maecenas non ultricies justo. In hac habitasse platea dictumst.
        Etiam at ante accumsan, pretium nulla vitae, varius arcu.
        Aenean eu tempus magna. Duis vehicula ex facilisis accumsan sollicitudin.
      </p>

      <div class="center"><br/>
        <button id="button" onclick="location.href='library'">Ver Librería</button>
      </div>
    </section>
  </div>

  <div class="row">


    <hr>

    <section class="info-12 center">


      <%= image_tag("award.png", :class => "col-xs-1 pull-left img-responsive") %>
      <%= image_tag("award.png", :class => "col-xs-1 hidden-xs pull-right img-responsive") %>


      <h2>Lorem ipsum</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac nisi egestas, viverra ligula nec,
        lobortis massa. Curabitur vestibulum orci id turpis fringilla, ac consectetur risus condimentum.
      </p>
    </section>
  </div>
</main>


<div class="row">
  <footer class="col-md-12 index">
    <span class="left">© 2015 - www.Roll&Rol.com</span>
    <span class="right"><a href="/">Quienes somos</a></span>
  </footer>
</div>

