<% provide(:place, 'library') %>

<h1>Lorem Ipsum</h1>
<hr>


<div class="big-demo" data-js-module="hero-demo">
  <div class="ui-group">

    <button id="button">Buscar</button>

    <div class="filters button-group js-radio-button-group" id="search-bar">
      <p><button class="button is-checked" data-filter="*">Ver Todos</button>
        <button class="button" data-filter=".d6">D6</button>
        <button class="button" data-filter=".d10">D10</button>
        <button class="button" data-filter=".d20">D20</button>
        <button class="button" data-filter=".d100">D100</button>
      </p><p>
      <button class="button" data-filter=".medieval">Medieval</button>
      <button class="button" data-filter=".scifi">Sci-fi</button>
      <button class="button" data-filter=".aventura">Aventura</button>
      <button class="button" data-filter=".terror">Terror</button>
      <button class="button" data-filter=".anime">Anime</button>
      <button class="button" data-filter=".moderno">Moderno</button>

    </p>

    </div>
  </div>

  <div class="grid" id="libreria">

    <div class="col-xs-3 element-item aventura medieval d6" data-category="transition">
      <a href="libro.html"><img class="img-responsive" src="mouse-guard-set.jpg"></a>
      <br/>
      <a href="libro.html">Libro de reglas</a><br/>
      Reglas básicas de Mouse Guard

    </div>

    <div class="col-xs-3 element-item aventura terror d100" data-category="transition">
      <a href="#"><img class="img-responsive" src="cthulhu-guia-investigador.jpg"></a>
      <br/>
      <a href="#">Guía del investigador de los años 20</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque

    </div>


    <div class="col-xs-3 element-item medieval terror d20" data-category="transition">
      <a href="#"><img class="img-responsive" src="cthulhu-guia-londres.jpg"></a>
      <br/>
      <a href="#">Guía de londres 1920</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque

    </div>

    <div class="col-xs-3 element-item aventura scifi d100" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-mascaras.jpg"></a>
      <br/>
      <a href="#">Las máscaras de Nyarlathotep</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque

    </div>


    <div class="col-xs-3 element-item aventura moderno d100" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-montanas-1.JPG"></a>
      <br/>
      <a href="#">Más Allá de las Montañas de la Locura I</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque.

    </div>


    <div class="col-xs-3 element-item anime scifi d100" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-montanas-2.JPG"></a>
      <br/>
      <a href="#">Más Allá de las Montañas de la Locura II</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque.

    </div>


    <div class="col-xs-3 element-item moderno terror d6" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-portada.jpg"></a>
      <br/>
      <a href="#">Just a book</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque

    </div>

    <div class="col-xs-3 element-item anime terror d20" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-guia-investigador.jpg"></a>
      <br/>
      <a href="#">Just another book</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque

    </div>

    <div class="col-xs-3 element-item terror d10" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-guia-londres.jpg"></a>
      <br/>
      <a href="#">A completely new book</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque

    </div>

    <div class="col-xs-3 element-item moderno d20" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-mascaras.jpg"></a>
      <br/>
      <a href="#">A book never seen before</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque

    </div>

    <div class="col-xs-3 element-item aventura anime d100" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-montanas-1.JPG"></a>
      <br/>
      <a href="#">Some other book</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque.

    </div>

    <div class="col-xs-3 element-item terror scifi d60" data-category="transition">
      <a href="#"><img class="img-responsive" src="images/cthulhu-montanas-2.JPG"></a>
      <br/>
      <a href="#">A last book</a><br/>
      Aliquam lobortis nunc sit amet risus scelerisque.

    </div>


  </div>

</div>

