<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag 'bootstrap', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'jquery-ui.min', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <%= javascript_include_tag 'isotope-docs.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-ui.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="
<% if yield(:place) == "index" %>
    index-body
<% end %>
">

<% if yield(:place) != "index" %>
<div class="row">
<% end %>

<nav class="up-nav" id="index-nav">
      <span class="col-md-4 col-md-push-5" id="loginsystem">

  <% if logged_in? %>
    <%= link_to current_user.name, current_user %>
            |
            <%= link_to "Cerrar sesión", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Inicia sesión", login_path %>
            |
            <%= link_to "Regístrate", signup_path %>
  <% end %>
    </span>
  <a class="pull-right" href="/"><span class="glyphicon glyphicon-plus"></span></a>

  <div class="box-search col-md-3">
    <span class="glyphicon glyphicon-search"></span>

    <form id="buscador">
      <input type="search" class="form-control" placeholder="Búsqueda..."/>
    </form>
  </div>

</nav>
<% if yield(:place) != "index"  %>
  </div>
<% end %>

<div class="loginbox">

  <a class="close">x</a>


  <label for="usuario">Usuario:</label>
  <input type="text" id="usuario" required="required">

  <br/>
  <label for="password">Contraseña:</label>
  <input type="password" id="password" required="required">

  <p>

    <button id="iniciosesion">Enviar</button>

  </p>
</div>

<% if yield(:place) != "index"  %>


    <div class="row">
      <main>

        <div id="dice"></div>


        <div class="web-title">
          <a href="/"><h1 class="web-title">Roll&Rol</h1></a>
        </div>

        <div class="content">
          <nav class="col-md-3 no-padding arrow">
            <% if yield(:place) == "article"  %>
                <%= link_to "Artículos", articles_path, id: 'active' %>
            <% else %>
            <%= link_to "Artículos", articles_path %>
             <% end %>
            <% if yield(:place) == "game"  %>
                <a href="/games" id="active">Juegos</a>
            <% else %>
                <a href="/games">Juegos</a>
            <% end %>
            <% if yield(:place) == "foros"  %>
                <a href="/boards" id="active">Foros</a>
            <% else %>
                <a href="/boards">Foros</a>
            <% end %>
            <% if yield(:place) == "library"  %>
                <a href="/library" id="active">Librería</a>
            <% else %>
                <a href="/library">Librería</a>
            <% end %>


          </nav>
          <article class="col-xs-9">
<% end %>

<%= yield %>

<% if yield(:place) != "index"  %>
</article>
    </div>
    </main>
    </div>
    <footer class="row">
      <span class="left">© 2015 - www.Roll&Rol.com</span>
      <span class="right"><a href="/">Quienes somos</a></span>
    </footer>


<% end %>

</body>

</html>
